<p style="color: green"><%= notice %></p>

<section class="section-md">
  <div class="container flex flex-column wrap text-center items-center mb-4 bg-white">
    <h1 class="content-lg">Home</h1><br />
    <% if current_user %>
      <%= render "tweets/form", {tweet: Tweet.new} %>
    <% end %>
    <div id="tweets">
      <% @tweets.each do |tweet| %>
        <%= render "card", tweet: tweet %>
        <br />
      <% end %>
    </div>

    <%= link_to "New tweet", new_tweet_path %>
  </div>
</section>

