<p style="color: green"><%= notice %></p>

<%#= render @tweet %>
<section class="section-md">
  <div class="container flex flex-column wrap text-center items-center mb-4 bg-white">
  
    <div id="tweets", class="input">
      <%= render "card", tweet: @tweet %><br/>
    </div>


    <% if current_user %>
      <div class="input bb">
        <%= render "comments/form", {comment: Comment.new, tweet: @tweet} %><br />
      </div>
      <br />
    <% end %>

    <% @tweet.comments.each do |comment| %>
      <div id="tweets", class="input">
        <%= render "comments/card", comment: comment %>
      </div>
      <hr>
    <% end %>

  </div>
</section>
